{% extends 'base.html' %}

{% block content %}
	
	</br>
	</br>
	<h3>{{ single_post.title }}</h3>
	<p>{{ single_post.text }}</p>
	</br>

<hr/>

<h1>COMMENTS:</h1>

<form id="postcomment" method="post" action=""> 
	{% csrf_token %}
		{% for hidden in form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
	<textarea class="form-control" rows="3" placeholder="Description" name="comment" value="" required></textarea>
	<button class="btn btn-sm btn-primary" type="submit" name="Submit">Submit</button>
</form>

<hr/>

<ul id="commenters">
	{% for c in comment_tree %}     
		<li id="{{ c.id }}" class="c" style="margin-left:{{ c.depth }}em;">
			<b>Comment:</b> {{ c.added|timesince }}<br/> 
			<p>{{ c.comment }}</p>
				<p><a id="reply-{{ c.id }}" href="" class="reply"><button type="button" class="btn btn-primary btn-xs">reply</button></a></p> 
		</li>
	{% empty %}
<br/>
	<p>There are currently no comments.</p>
	{% endfor %}
</ul>
{% endblock content %}
